.main {
  width: 100%;
  margin: 20px auto;
}

.searchIcon {
  display: grid;
  grid-gap: 10px;
  justify-items: stretch;
  grid-template-columns: 1fr 6fr 1fr;
}

.show-fontSize {
  margin: 0 auto;

}

.logo {
  justify-self: end;
  margin-top: -1.5em;
  margin-left: -1em;
}

.dropdown-item:hover {
  background-color: #d3d3d3
}

.dropdown-item:nth-child(even) {
  border: 1px solid #d3d3d3;
}



.dropdown-menu-right>li:hover {
  border: 1px solid gold !important;

}

.fas {
  padding-top: 1em;
}

/* song styling section */
.song-model {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto;
  padding-left: 5%;
  padding-bottom: 20px;
}

.chorus {
  padding-left: 5%;
}

.song_title::first-line {
  text-indent: 10%;
}

/* song styling section */


/* Themes styling section */
.dark-theme {
  background-color: #303030;
  color: #ffffff;
}

/* 
.light-theme {
  background-color: #DBE1F1;
  color: #000;
}

.white-theme {
  background-color: #ffffff;
  color: #000000;
} */

.show-fontSize {
  display: none;
}

.show {
  display: block;
}



@media(min-width: 800px) {
  .searchIcon {
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .themes {
    display: grid;
    justify-content: stretch;
    width: 100%;
    margin: 0 auto;

  }

  .show-fontSize {
    width: 10%;
    margin-left: 76%;
    float: right;
  }

  .all-songs {
    width: 50%;
    margin: auto;
  }
}